doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  title Etel Transformers
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='icon' href='/images/favicon.png' type='image/png' sizes='16x16')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  link(rel='stylesheet' type='text/css' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' type='text/css' href='/stylesheets/'+ownerId+'/contents.css')
  //paste the below code in the <head> tag starting.

  // Global site tag (gtag.js) - Google Analytics.
  script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-0Z59EW1BXL')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-0Z59EW1BXL');

style.
  .dropdown{
    color: #FFF;
    }
    .dropdown-content {
    border: 2px solid #FFF;
    border-radius: 20px;
    background-color: transparent;
    color: #FFF;
    padding: 6px 10px;
    margin-left:8px;
    cursor: pointer;
    }
    .dropdown-content option {
    color: #353535;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #fff;
    cursor: pointer;
    }


style.
  * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  .header{
  text-align:center;
  color:#4c4c4c;
  }
  body {
  background-color: #eee;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  color: #222;
  }
  #feedback-form {
  max-width: 700px;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
  /* display: flex; */
  margin: auto;
  }
  .form-field {
  display: flex;
  margin: 0 0 1rem 0;
  }
  label, input {
  width: 70%;
  padding: 0.5rem;
  box-sizing: border-box;
  justify-content: space-between;
  font-size: 1.1rem;
  }
  label {
  text-align: right;
  width: 30%;
  }
  input {
  border: 2px solid #aaaaaa5e;
  border-radius: 2px;
  margin: 10px;
  padding: 15px;
  border-radius: 50px;
  width:100%;
  }
  .subbtn{
  padding: 13px 67px;
  margin: auto;
  border-radius: 100px;
  display: block;
  width: 50%;
  border: none;
  background: #6F61FE;
  color: #fff;
  font-size: 20px;
  }
  .logoa{
  width: 100px;
  margin: auto;
  display: block;
  padding: 10px;
  }


#feedback-form
  img.logoa(src='/images/'+ownerId+'/logo.png')
  h2.header CONTACT FORM
  div
    form#Formdata
      input(type='text' name='name' placeholder='Please enter your name' id='name' required='')
      input(type='text' name='company' placeholder='Please enter your company name' id='company' required='')
      input(type='text' name='position' placeholder='Please enter your position' id='position' required='')
      input(type='text' name='mobile' placeholder='Please enter your mobile number' id='mobile' required='')
      input(type='text' name='email' placeholder='Please enter your email id' id='email' required='')
      button.subbtn(type='submit') Submit


nav.navbar.navbar-inverse.border-bottom.box-shadow.box#TopNavbar(style='margin-bottom: 10px; background:#FFF;display:none;')
  .container-fluid
    .navbar-header
      a#logo.navbar-brand.logo(href='#')
        img#navLogo(src='/images/'+ownerId+'/logo.png')
    //- span#google_translate_element




.container#Files(style='display:none;')
  .px-4.pt-md-5.pb-md-6.pb-2.mx-auto.text-center
    .row.mb-3
      .col(style='color: #FFF;')
        h3#ProjectName(style='font-size :23px')  #{projectName}

  .row
    each file in files
      case file.type
        when 1
          if  ! file.url 
            .col-12.col-md-4.col-sm-6.col-lg-4.text-center(name='Card')
              a(href='#' onclick="changeUrl('http://"+hostname+"/viewer/web/"+file.uuid+"')" data-toggle='modal' data-target='#videoModal' )
                .card.mb-2.box-shadow.box
                  .card-header
                    ul.list-unstyled(style='display:inline-block;float:left;margin-left:-30px;width:70px;height:70px;margin-top:-10px;')
                      li.fa.fa-youtube-play.font-awesome
                    br
                    h4.my-0(style='font-size : 18px;display:inline-block;float:right;text-align: center;color:black;') #{file.name}
                    h4.my-0(style='font-size : 18px;display: none',name='CategoryDisplay') #{file.category}

              
          else
            .col-12.col-md-4.col-sm-6.col-lg-4.text-center(name='Card')
              a(href='#' onclick="changeUrl('"+file.url+"')" data-toggle='modal' data-target='#youtubevideoModal' )
                .card.mb-2.box-shadow.box
                  .card-header
                      ul.list-unstyled(style='display:inline-block;float:left;margin-left:-30px;width:70px;height:70px;margin-top:-10px;')
                        li.fa.fa-youtube-play.font-awesome
                      br
                      h4.my-0(style='font-size : 18px;display:inline-block;float:right;text-align: center;color:black;') #{file.name}
                      h4.my-0(style='font-size : 18px;display: none',name='CategoryDisplay') #{file.category}
            

        when 3
          .col-12.col-md-4.col-sm-6.col-lg-4.text-center(name='Card')
            a(href='http://'+hostname+'/viewer/web/index.html?file=' + file.uuid, target='_blank' )
              .card.mb-2.box-shadow.box
                .card-header
                    ul.list-unstyled(style='display:inline-block;float:left;margin-left:-30px;width:70px;height:70px;margin-top:-10px;')
                      li.fa.fa-file-pdf-o.font-awesome 
                    br
                    h4.my-0(style='font-size : 18px;display:inline-block;float:right;text-align: center;color:black;') #{file.name}
                    h4.my-0(style='font-size : 18px;display: none',name='CategoryDisplay') #{file.category}


        when 4
          .col-12.col-md-4.col-sm-6.col-lg-4.text-center(name='Card')
            a(href=file.url, target='_blank')
              .card.mb-2.box-shadow.box
                .card-header
                    ul.list-unstyled(style='display:inline-block;float:left;margin-left:-30px;width:70px;height:70px;margin-top:-10px;')
                      li.fa.fa-link.font-awesome 
                    br
                    h4.my-0(style='font-size : 18px;display:inline-block;float:right;text-align: center;color:black;') #{file.name}
                    h4.my-0(style='font-size : 18px;display: none',name='CategoryDisplay') #{file.category}


    //- URl Company Website
    .col-12.col-md-4.col-sm-3.col-lg-4.text-center
      a(href=website , target='_blank')
        .card.mb-2.box-shadow.box
          .card-header
              ul.list-unstyled(style='display:inline-block;float:left;margin-left:-30px;width:70px;height:70px;margin-top:-10px;')
                li.fa.fa-link.font-awesome
              br
              h4.my-0(style='font-size : 18px;display:inline-block;float:right;text-align: center;color:black;') Website Link

    



footer.footer
  .footer-copyright.text-center.py-3.fo(style='color: #FFF')
    | Powered by MindWoX
    a(href='https://mindwox.com/mindwox/')
      img(src='/images/favicon.png' style="margin-left:10px")

//- modal for youtube video
#youtubevideoModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        h5#exampleModalCenterTitle.modal-title 
        button#close.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        //- video#video(width='100%' height='250px' src='' type='video/mp4' controls='' disablepictureinpicture='' controlslist='nodownload')
        iframe#youtube(width='100%' height='250px' src='https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=0' frameborder='0' allow='accelerometer;  encrypted-media; gyroscope' allowfullscreen='')  

#videoModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        h5#exampleModalCenterTitle.modal-title 
        button#close.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        video#video(width='100%' height='250px' src='' type='video/mp4' controls='' disablepictureinpicture='' controlslist='nodownload')

      script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
      //- script(type='text/javascript' src='//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit')
      script(src='/javascripts/'+ownerId+'/contents.js')
      script(src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous")
